<div class="container-fluid row">

  <div class="col-3"></div>

  <div class="col-6">
    <h1 class="text-center">Hello Krutik from Simform</h1>
    <br>

    <table class="table table-hover">
      <tbody>

        <tr>
          <th>Fullname</th>
          <td>Krutik V. Patel</td>
        </tr>

        <tr>
          <th>Email</th>
          <td>er.krutikpatel31@gmail.com</td>
        </tr>

        <tr>
          <th>Date of Birth</th>
          <td>31/12/2001</td>
        </tr>

        <tr>
          <th>Education</th>
          <td>Bachelor of Engineering (IT)</td>
        </tr>

        <tr>
          <th>Profession</th>
          <td>SE Intern at Simform LLP</td>
        </tr>

        <tr>
          <th>College</th>
          <td>Government Engineering College, Sector-28, Gandhinagar.</td>
        </tr>

        <tr>
          <th>Hobbies</th>
          <td>Playing Table Tennis, Watching movies</td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="col-3"></div>
</div>
