<div class="container-fluid">

  <h2 class="text-center">Add New Book</h2>

  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <hr>
      
      <%= render partial: "form", locals: { book: @book, author: @author, url: author_books_path(@author), submit_btn: "Create Book" } %>
      
    </div>
    <div class="col-3">
    </div>
  </div>
    
</div>
