<div class="container-fluid text-center">

  <h1>List of Products</h1>
  <br><br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.title %></td>
          <td>
            <a href="/product/<%= product.id %>" class="btn btn-sm btn-outline-success">View</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
