<% if @car.errors.any? %>
  <hr>
  <div style="color:red;">
    <h5><%= @car.errors.count %> errors found.</h5>
    <ul>
      <% @car.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>